/*.iml
/*.ipr
/*.iws
/.classpath
/.factorypath
/.idea
/.project
/.settings
/nb*
/release.properties
/target
/project
.DS_Store
*.log
*.log.*-*-*
/log/*

# These are needed if running in IDE without properties set
/ibderby
derby.log
/bin/
