<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zjzcn.test.dao.UserDao">

    <sql id="Base_Column_List">
        id, username, password, create_time, enabled, deleted
    </sql>

    <select id="getById" resultType="com.github.zjzcn.test.entity.User">
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        <where>
            user.id = #{id}
        </where>
    </select>

    <select id="findByPageable" resultType="com.github.zjzcn.test.entity.User">
        select
        <include refid="Base_Column_List"/>
        from user
        <where>
        </where>
    </select>

    <insert id="insert" parameterType="com.github.zjzcn.test.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(
            id, username, password, create_time, enabled, deleted
        )
        VALUES (
            #{id}, #{username}, #{password}, #{createTime}, #{enabled}, #{deleted}
        )
    </insert>

    <update id="update" parameterType="com.github.zjzcn.test.entity.User">
        UPDATE user SET
        id = #{id}, username = #{username}, password = #{password}, create_time = #{createTime}, enabled = #{enabled}, deleted = #{deleted}
        WHERE id = #{id}
    </update>

    <update id="delete">
        DELETE FROM user
        WHERE id = #{id}
    </update>

</mapper>